#mapid { height: 500px; }


.btn-karte-popup{
  background-color: #f2f2f2; /* Green */
  border: none;
  color: white;
  padding: 4px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
